.main {
    margin: 20px 0px 20px 0px;

    h2 {
        color: white;
        font-size: 34px;
        text-align: center;
        margin: 20px;
    }

    .mainCenter {

        .main1, .main2, .main3, .main4, .main5 {
            display: flex;
            justify-content: center;
            margin: 10px;
            padding: 5px;
            align-items: center;
            background-color: rgba(00,80,80, 0.9);
            border-radius: 50px;
            text-align: center;

            div {
                width: 90%;
            }

            img {
                border-radius: 50px;
                width: 500px;
                padding: 5px;
            }

            p {
                color: white;
                padding: 10px;
                margin: 5px;
            }

            button {
                margin: 10px;
                padding: 10px;
                border: none;
                border-radius: 50px;
                background-color: white;
                font-size: 16px;
                color: rgba(0,80,80,0.9);
                transition: 0.5s;
            }

            button:hover {
                background-color: rgba(225,225,225,0.1);
                transition: 0.5s;
                color: white;
            }
        }
    }

    .best {
        display: flex;
        flex-flow: wrap;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;

        .product {
            margin: 10px;
            align-items: center;
            text-align: center;
            transition: 1s;
            max-width: 300px;

            img {
                width: 300px;
                border-radius: 50%;
            }

            p {
                color: white;
                margin: 5px;
                transition: 1s;
            }

            .model {
                font-weight: bold;
            }

            .priceS {
                display: block;
                text-decoration: line-through 2px red;
                font-weight: bold;
            }

            .price {
                display: flex;
                align-items: center;
            }

            .kod {
                font-size: 18px;
            }
        }

        .product:hover {
            border-radius: 50px;
            background-color: white;
            transition: 1s;

            p {
                color: #008080;
                transition: 1s;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .main {

        h2 {
            font-size: 30px;
        }

        .mainCenter {

            .main1, .main2, .main3, .main4, .main5 {

                button {
                    font-size: 14px;
                }

                img {
                    width: 250px;
                }
            }
        }

        .best {
            .product {
                max-width: 200px;

                img {
                    width: 200px;
                }

                .kod {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .main {

        h2 {
            font-size: 28px;
        }

        .mainCenter {

            .main2, .main4 {
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
            }

            .main1, .main3, .main5 {
                display: grid;
                justify-content: center;
            }
        }

        .best {

            .product {
                max-width: 150px;


                img {
                    width: 150px;
                }

                .kod {
                    font-size: 10px;
                }
            }
        }
    }
}
