.filter {
    display: flex;
    text-align: center;
    flex-flow: wrap;

    button {
        padding: 10px;
        border: none;
        margin: 5px;
        border-radius: 30px;
        background-color: rgba(225,225,225,0.9);
        font-size: 16px;
        color: #008080;
        transition: 0.5s;
    }

    button:hover {
        background-color: rgba(0,80,80,0.9);
        color: white;
        transition: 0.5s;
    }

    button:focus {
        background-color: rgba(0,80,80,0.5);
        color: white;
    }
}

@media only screen and (max-width: 700px) {

    .filter {

        button {
            font-size: 14px;
        }
    }
}
