.sort {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 15px;

    img {
        width: 30px;
        margin: 5px;
        background-color: rgba(225,225,225,0.9);
        border-radius: 50%;
        padding: 2px;
    }
}
